.img-container{
    width: 100%;
    height: 500px;
    margin-bottom: 2rem;
}

.header, .clubs{
    background-color: #fff;
}

.actu{
    background-color: #EBEBEB;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn{
    background-color: #E22B39;
    border: none;
    color: white;
    width: 120px;
}

.btn:hover{
    background-color:#4D4D4D;
    transition: background-color .3s ease-out;
}

.owl-prev, .owl-next{
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #4D4D4D;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 12px 6px 12px;
}

.owl-prev:hover, .owl-next:hover{
    background: #c0c0c0;
    color: #FFF;
    text-decoration: none;
}

.carousel-club-title{
    display: flex;
    justify-content: space-between;
}

.carousel-container div{
    transform: scale(0.9);
    transition: transform .3s ease-out;

}

.carousel-container a{
    text-decoration: none;
    color: #000;

}

.carousel-container a:hover{
    text-decoration: none;
    color: #E22B39;
}

.carousel-container div:hover{
    transform: scale(1);
    transition: transform .3s ease-out;

}


.owl-carousel .item {
    height: 300px; /* Adjust the height to your preference */
}

.owl-carousel .item img {
    height: 100%; /* Ensures the image stretches to the container */
}
